{% extends 'page.twig' %}
{% block bodyClass %}{{ parent() ~' security-module' }}{% endblock %}

{% block pageContent %}
    <div class="container">
        {{ moduleContent|raw }}
    </div>
{% endblock %}
